body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

/* Keep everything aligned to the top */
.container {
    width: 100%;
    padding-top: 10px;   /* small space from top */
    text-align: center;
}

.analysis1{
    width: 490px;
    height: 450px;
    background-color: #CECECE;
    /* margin-left: 10px; */
    border-radius: 5px;
    justify-content: center;
    text-align: center;  
    align-items: center;
}

.analysis{
    width: 365px;
    height: 365px;
    background-color: white;
    /* margin-left: 10px; */
    border-radius: 5px;
    justify-content: center;
    text-align: center;  
    align-items: center;
}

.analysis2{
    width: 1490px;
    height: 450px;
    background-color: #CECECE;
    /* margin-left: 10px; */
    border-radius: 5px;
    
}

.dashboardr1{
    display:flex;
    gap:10px;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    color: #333;
    margin-bottom: 30px;
    font-size: 32px;
}

h2{
    color: #333;
    margin-bottom: 30px;
    font-size: 32px;
    text-align: center;

}
h3{
    margin-left:10px;

}

/* Button layout */
.button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.button-group2 {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
 
}

.button-group3
{
    position: absolute;
    top: 20px;      /* space from top */
    right: 20px;    /* space from right */
    

}

/* Button styling */
.btn {
    text-decoration: none;
    padding: 15px 30px;
    background-color: #007BFF;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.btn1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
}
.btn1:hover {
    background-color: #0056b3;
}

.dailytrans
{
    width: 220px;
    height: 220px;
    background-color: #2ecc71; /* green */
    color: #ffffff;            /* white text */
    border-radius: 50%;        /* circle */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
    margin-left: 70px;
    margin-top: 30px;
}

.analysismnth{
    width: 365px;
    height: 365px;
    background-color: white;
    /* margin-left: 10px; */
    border-radius: 5px;
    justify-content: center;
    text-align: center;  
    align-items: center;
}

.analysis-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.mnttrans
{
    width: 220px;
    height: 220px;
    background-color: #2ecc71; /* green */
    color: #ffffff;            /* white text */
    border-radius: 50%;        /* circle */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
    margin-left: 17px;
    margin-top: 30px;
}






