<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sales Entry</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesform.css') }}">
</head>
<body>

<div class="container">
    <h2>Enter Sales Details</h2>

    <form action="/submit" method="post" class="form-box">
        <div class="form-row">
            <label>Transaction ID</label>
            <input type="number" name="tid" value="{{next_id}}" readonly>
        </div>
        <div class="form-row">
            <label>Product Name</label>
            <input type="text" name="pname" required>
        </div>
        <div class="form-row">
            <label>Quantity</label>
            <input type="number" name="qty" required>
        </div>
        <div class="form-row">
            <label>Date</label>
            <input type="date" name="date" id="date" required>
        </div>

<!-- take input for product_id for sales using sql query -->

        <button type="submit" class="btn">Save</button>
    </form>
</div>


<script>
    document.getElementById("date").value =
    new Date().toISOString().split('T')[0];
</script>
</body>
</html>
